@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: KaTeX_AMS;
    font-style: normal;
    font-weight: 400;
    src: url(/_next/static/media/KaTeX_AMS-Regular.a79f1c31.woff2) format("woff2"), url(/_next/static/media/KaTeX_AMS-Regular.1608a09b.woff) format("woff"), url(/_next/static/media/KaTeX_AMS-Regular.4aafdb68.ttf) format("truetype")
}
  
@font-face {
    font-family: KaTeX_Caligraphic;
    font-style: normal;
    font-weight: 700;
    src: url(/_next/static/media/KaTeX_Caligraphic-Bold.ec17d132.woff2) format("woff2"), url(/_next/static/media/KaTeX_Caligraphic-Bold.b6770918.woff) format("woff"), url(/_next/static/media/KaTeX_Caligraphic-Bold.cce5b8ec.ttf) format("truetype")
}
body {
    font-family: 'Söhne', sans-serif;
    background-color: black; /* Ensure the bg-black class or equivalent CSS is applied */
  }